body {
  font-family: sans-serif;
  margin: 0;
}
header {
  height: 100px;
  width :100%;
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  position:fixed;
  top:0px;
  z-index: 10;
}
.header-left {
  font-size:40px;
  letter-spacing: 8px;
  padding:20px;
  margin :0;
  float:left;
  background-color: rgba(255, 255, 255, 0.3);
}
.header-right {
  height :100px;
  float: right;
}
.header-right ul {
  height : 100px;
  padding: 40px 20px;
  margin : 0;
  list-style-type: none;
}
.header-right li {
  display :inline-block;
  padding :4px 8px;
  font-size:20px
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: royalblue;
}
/*---section---*/
section {
  text-align: center;
  margin-bottom: 80px;
}

section h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
section p {
    opacity: 0.9;
    margin: 15px 0px;
    color:gray;
}
.top-wrapper {
  padding:180px 0 100px;
  /* background-image: url(tatlesson01.jpg);
  background-size: cover;
  background-position: center; */
  background: center/cover black url(tatlesson01.jpg);
}
.icon {
  border-radius: 70px;
  border: 3px solid white;
  box-shadow: 0 5px 5px black;
}
.contents-wrapper {
  width: 940px;
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 30px;
  border: 1px solid gray;
  margin: auto;
}
.contents ul {
  list-style-type: none;
  margin:20px;
}
.contents li {
  display :inline-block;
}
/* mask */
.contents-icon {
	width:			140px;
	height:			140px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
  transform-origin: right top;
}
.contents-icon .caption {
	width:			100%;
	height:			100%;
	visibility:		hidden;	/* 文字を表示しない */
	font-size:		70%;
	color:			#fff;
	top:			0;
	left:			0;
	position:		absolute;
	text-align:		center;
	-webkit-transition:	all 0.4s step-end;
	transition:		all 0.4s step-end;
}
.contents-icon:hover .caption {
	visibility:		visible;	/* 文字を表示する */
}
.contents-icon .caption p {
	font-size:		130%;
	padding-top:		70px;
	color:			#fff;
	opacity:		0;	/* ホバーが解除された時すぐ消えるように、文字を表示しない */
}
.contents-icon:hover .caption p {
	opacity:		1;	/* 文字を表示する */
}
.contents-icon .mask1, .contents-icon .mask2 {
	width:			100%;
	height:			50%;	/* 高さは半部のサイズ */
	position:		absolute;
	left:			0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
}
.contents-icon .mask1 {
	top:			-50%;	/* 枠の上に置いて表示させない */
}
.contents-icon:hover .mask1 {
	top:			0;	/* 下にずらして表示する */
}
.contents-icon .mask2 {
	bottom:			-50%;	/* 枠の下に置いて表示させない */
}
.contents-icon:hover .mask2 {
	bottom:			0;	/* 上にずらして表示する */
}

/* footer */
footer {
  height: 120px;
  width :100%;
  background-color: rgba(49, 65, 77, 0.9);
  color: white;
}
footer h3 {
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
  padding-top: 20px;
  text-shadow: 3px 3px 0 #000;
}
footer p {
  color:lightgray;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
  text-shadow: 3px 3px 0 #000;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 4px;

}
.btn:hover {
  opacity: 1;
}
.fa {
  margin-right: 5px;
}
.btn-wrapper {
  margin: 0 40px;
  float:left;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}

.signup-modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form {
  width: 100%;
}

#signup-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}
